[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "reveal.js-plugins"]
	path = reveal.js-plugins
	url = https://github.com/rajgoel/reveal.js-plugins.git
[submodule "public"]
	path = public
	url = https://github.com/matthewturk/matthewturk.github.io
	branch = gh-pages
